body {
  padding: 50px;
  font-family :Arial;
}

a {
  color: #00B7FF;
}

ul.success li, ul.info li, ul.error li{
  margin: 20px,0,10px,0;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  list-style: none;
}

ul.success li{
   color: seagreen;
   background: #dff0d8;
   border-color: #d6e9c6;
}

ul.info li{
   color: darkorange;
   background: #dff0d8;
   border-color: #d6e9c6;
}

ul.error li{
   color: red;
   background: #dff0d8;
   border-color: #d6e9c6;
}